@media (max-width: 950px) {
  .popup {
    height: 25rem;
    width:100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    // height: fit-content;
  }

  .tabs {
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2rem;

  }

  .icons{
    height: 5.5rem;
    width: 5.5rem;
  }

  .logos {
  visibility: hidden;
  }

  .flexContainer{
    height: 15rem;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }


/* For leftMarker */
#top {
  border-top: 3px solid #c4c4c4;
  border-radius: 32px;
  width: calc(25%);
}

/* For middleMarker */
#middle {
  border-bottom: 2px solid #c4c4c4;
  border-bottom-left-radius: 32px;
  box-shadow: 0px 15px 36px -20px #e7e7e7;
  width: calc(50%);
}

/* For rightMarker */
#right {
  border-bottom: 2px solid #c4c4c4;
  box-shadow: 0px 15px 36px -20px #e7e7e7;
  width: calc(50%);
}

#one{visibility: hidden;}
#two{visibility: hidden;}
#three{visibility: hidden;}


  input[type="radio"]{
    display: none;
    width: 0;
  }
  .marker{
  // margin-top: 2.5%;
  height: 20%;
  width: 100%;
  position: absolute; 
  display: flex; 
  flex-direction: row;
  // transition: transform .2s ease-in-out;
  z-index: 0;
  }

}

@media(width>950px){

  .flexContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logos {
    background-image: url("./assets/Orientiert.png");
    background-size: contain;
    height: 8.5rem;
    width: 8.5rem;
    margin: 0.25rem;
    margin-top: 1.7rem;
    margin-bottom: .5rem;
  }

  .popup{
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 75%;
    min-height: 18rem;
    border-radius: 3px;
    box-sizing: border-box; 
  
    background-color: #fcfcfc;
    overflow: hidden;
    box-shadow: 16px 16px 48px #2e364330;
    font-family: Segoe UI;
  }
  btn{
    z-index: 100; 
  }

  .tabs{
    display:flex;
    width: 100%;
    max-width: 240px;
    height: 100%;
    flex-direction: column; 
    justify-content: space-around; 
    position: relative;
    align-items: flex-end;
    flex-shrink: 0;
    border: 1px;
  }
  .marker{
    position: absolute; 
    width: 100%;
    height: 200%;
    display: flex; 
    flex-direction: column;
    top: calc(-50% );
    left: 0;
    transition: transform .2s ease-in-out; 
  }
  .marker #bottom, .marker #top{
    background-color: #ffffff;
    box-shadow: 32px 0px 64px #14171c15; 
  }
  .marker #top{
    height: calc(47%);
    border-radius: 0 0 32px 0; 
  }
  .marker #bottom{
    height: calc(35% );
    border-radius: 0 32px 0 0; 
  }



  

label{
  font-size: 24px;
  font-weight: 500; 
  cursor: pointer; 
  color: #525d6f; 
  opacity: .4; 
  transition: opacity .4s ease-in-out;
  display: block; 
  width: calc(100% - 48px) ;
  text-align: right; 
  z-index: 100; 
  user-select: none;
  margin:7.5%;
}
input[type="radio"]{
  display: none;
  width: 0;
}
label:hover, input[type="radio"]:checked+label {
  opacity: 1; 
}



.icons {
  height: 2.2rem;
  width: 2.2rem;
}
//__________________________Tabs__________________________//
label[for="${styles.tab1}"] {
  /* Ensure the label is displayed as a block element */
  display: block;
  /* Center the text horizontally */
  text-align: center;
}

label[for="${styles.tab1}"] #one {
  /* Optionally, adjust the padding to center vertically */
  padding-top: 50%; /* Adjust as needed */
  /* Reset any previous text-align property */
  text-align: inherit;
}
//__________________________Tabs__________________________//

label[for="${styles.tab2}"] {
  /* Ensure the label is displayed as a block element */
  display: block;
  /* Center the text horizontally */
  text-align: center;
}

label[for="${styles.tab2}"] #two {
  /* Optionally, adjust the padding to center vertically */
  padding-top: 50%; /* Adjust as needed */
  /* Reset any previous text-align property */
  text-align: inherit;
}
//__________________________Tabs__________________________//
label[for="${styles.tab3}"] {
  /* Ensure the label is displayed as a block element */
  display: block;
  /* Center the text horizontally */
  text-align: center;
}

label[for="${styles.tab3}"] #three {
  /* Optionally, adjust the padding to center vertically */
  padding-top: 50%; /* Adjust as needed */
  /* Reset any previous text-align property */
  text-align: inherit;
}


#one{visibility: visible;}
#two{visibility: visible;}
#three{visibility: visible;}
  
#tab1:checked ~ .marker{transform: translateY(calc(calc(50% / 3) * 0));}
#tab2:checked ~ .marker{transform: translateY(calc(calc(60% / 3) * 1));}
#tab3:checked ~ .marker{transform: translateY(calc(calc(57% / 3) * 2));}
}





//--------------------------------Flex Container-------------------------//


.description {
  width: 80%;
  margin-top: 0.5rem;
  margin-right: 0.1rem;
  margin-bottom: 1rem;
  font-size: larger;
}



.btn {                    //fix problem of button postioning when description text is too long
  display: block;
  position: absolute;
  top:110%;
  border-radius: 3px;
  padding: 8px 14px;
  cursor: pointer;
  border: 2px solid white;
  background-color: #b7342e;
  color: white;
  font-weight: bolder;
  box-shadow: 4px 4px 0 0 #f3f3f4;
  transition: 200ms;
}


.anchor:hover{
  box-shadow: 3px 3px white,
  6px 6px 0 0 #d4d4d4;
  transform:  translate(-2px, -2px);
}
