




@media (max-width: 700px) {
  .title{
    margin-top: 25%;
  }

  .btn{
    top:200%;
  }
}

@media (max-width: 950px) {
  .popup {
    height: 25rem;
    width:100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box; 
  }

  input[type="radio"]{
    display: none;
    width: 0;
  }
.title{
  margin-top: 0%;
  visibility: visible;
  font-weight: bolder;
  font-size:xx-large;
  color:#525d6f;
}
  label{
    cursor: pointer; 
    opacity: .4; 
    transition: opacity .4s ease-in-out;
    user-select: none;
    z-index: 100; 
    align-self: center;
  }

  label:hover, input[type="radio"]:checked+label {
    opacity: 1; 
  }

  .tabs {
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2rem;
    height: 7em;
    width: 100%;
    position: relative;
  }

  .icons{
    height: 4rem;
    width: 4rem;
  }

  .logos {
  visibility: hidden;
  }

  .flexContainer{
    height: 15rem;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: 2.5rem;
  }
  
  .description {
    width: 80%;
    margin-top: 5%;
    margin-right: 0.1rem;
    margin-bottom: 1rem;
    font-size: larger;
    text-align: center;
  }

/* For leftMarker */
#top {
  border-bottom: 2px solid #ebebeb;
  box-shadow: 0px 15px 36px -20px #e9e9e9;
  width: calc(50%);
  border-bottom-right-radius: 32px;
  height: 7em;
}

/* For middleMarker */
#middle {
  border-top: 3px solid #ebebeb;
  border-radius: 32px;
  width: calc(20%);
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  height: 7em;
}

/* For rightMarker */
#bottom {
  border-bottom: 2px solid #ebebeb;
  box-shadow: 0px 15px 36px -20px #e9e9e9;
  width: calc(50%);
  border-bottom-left-radius: 32px;
  height: 7em;
}

#one{visibility: hidden;}
#two{visibility: hidden;}
#three{visibility: hidden;}


#tab1:checked ~ .marker{transform: translateX(-17%);}

#tab2:checked ~ .marker{transform: translateX(0);}

#tab3:checked ~ .marker{transform: translateX(14.7%);}


  input[type="radio"]{
    display: none;
    width: 0;
  }
  .marker{
  margin-top: -3.25%;
  height: 25%;
  width: 200%;
  position: absolute; 
  display: flex; 
  flex-direction: row;
  transition: transform .2s ease-in-out;
  z-index: 0;
  }


  .btn {                   
    border-radius: 3px;
    padding: 8px 14px;
    cursor: pointer;
    background-color: #b7342e;
    border: 2px solid white;
    color: white;
    font-weight: bolder;
    box-shadow: 4px 4px 0 0 #f3f3f4;
    transition: 200ms;
    text-decoration: none;
  }

}

@media(width>950px){
  .title{visibility: hidden;}
    label{
      font-size: 24px;
      font-weight: 500; 
      cursor: pointer; 
      color: #525d6f; 
      opacity: .4; 
      transition: opacity .4s ease-in-out;
      display: block; 
      width: calc(100% - 48px) ;
      text-align: right; 
      z-index: 100; 
      user-select: none;
      margin:7.5%;
    }
    input[type="radio"]{
      display: none;
      width: 0;
    }
    label:hover, input[type="radio"]:checked+label {
      opacity: 1; 
    }
    .popup{
      display: flex;
      align-items: flex-start;
      width: 100%;
      height: 75%;
      min-height: 18rem;
      border-radius: 3px;
      box-sizing: border-box; 
    
      background-color: #fcfcfc;
      overflow: hidden;
      box-shadow: 16px 16px 48px #2e364330;
      font-family: Segoe UI;
    }
    .tabs{
      display:flex;
      width: 100%;
      max-width: 240px;
      height: 100%;
      display: flex;
      flex-direction: column; 
      justify-content: space-around; 
      position: relative;
      align-items: flex-end;
      flex-shrink: 0;
      border: 1px;
    }
    .marker{
      position: absolute; 
      width: 100%;
      height: 200%;
      display: flex; 
      flex-direction: column;
      top: calc(-100% );
      left: 0;
      transition: transform .2s ease-in-out; 
    }
    .marker #bottom, .marker #top{
      background-color: #ffffff;
      box-shadow: 32px 32px 48px #2e364315; 
    }
    .marker #top{
      height: calc(47%);
      margin-bottom: auto; 
      border-radius: 0 0 32px 0; 
    }
    .marker #bottom{
      height: calc(35% );
      border-radius: 0 32px 0 0; 
    }
    .icons {
      height: 2.2rem;
      width: 2.2rem;
    }
   
    label[for="${styles.tab1}"] {
      /* Ensure the label is displayed as a block element */
      display: block;
      /* Center the text horizontally */
      text-align: center;
    }
    
    label[for="${styles.tab1}"] #one {
      /* Optionally, adjust the padding to center vertically */
      padding-top: 50%; /* Adjust as needed */
      /* Reset any previous text-align property */
      text-align: inherit;
    }
   
    
    label[for="${styles.tab2}"] {
      /* Ensure the label is displayed as a block element */
      display: block;
      /* Center the text horizontally */
      text-align: center;
    }
    
    label[for="${styles.tab2}"] #two {
      /* Optionally, adjust the padding to center vertically */
      padding-top: 50%; /* Adjust as needed */
      /* Reset any previous text-align property */
      text-align: inherit;
    }
    
    label[for="${styles.tab3}"] {
      /* Ensure the label is displayed as a block element */
      display: block;
      /* Center the text horizontally */
      text-align: center;
    }
    
    label[for="${styles.tab3}"] #three {
      /* Optionally, adjust the padding to center vertically */
      padding-top: 50%; /* Adjust as needed */
      /* Reset any previous text-align property */
      text-align: inherit;
    }
    
    
    #one{
      visibility: visible;
    }
    
    #two{
      visibility: visible;
    }
    
    #three{
      visibility: visible;
    }
    
    #tab1:checked ~ .marker{transform: translateY(calc(calc(50% / 3) * 0));}

    #tab2:checked ~ .marker{transform: translateY(calc(calc(60% / 3) * 1));}
  
    #tab3:checked ~ .marker{transform: translateY(calc(calc(57% / 3) * 2));}

    
    .flexContainer {
      display: flex;
      height: auto;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .logos {
      background-image: url("./assets/Orientiert.png");
      background-size: contain;
      height: 7rem;
      width: 7rem;
      margin: 0.25rem;
      margin-top: 1.7rem;
    }
    .description {
      width: 80%;
      margin-top: 0.5rem;
      margin-right: 0.1rem;
      margin-bottom: 0.5rem;
      text-align: center;
      
    }
    .btn {                 
  
      border-radius: 3px;
      padding: 8px 14px;
      cursor: pointer;
      background-color: #b7342e;
      border: 2px solid white;
      color: white;
      font-weight: bolder;
      box-shadow: 4px 4px 0 0 #f3f3f4;
      transition: 200ms;
      text-decoration: none;
    
    }
  }









.anchor:hover{
  box-shadow: 3px 3px white,
  6px 6px 0 0 #d4d4d4;
  transform:  translate(-2px, -2px);
}
